  
  #portfolio{
    width: 100%;
    background-color: rgb(60, 145, 145);
  }

.services-list2{
    margin: 50px auto 50px; 
    min-height: 450px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px,1fr));
    grid-gap: 40px;
    

     
}

.services-list2 div{  
    background-size: cover;
    padding: 40px;
    transition: transform 0.5s ease-in-out, background-position 10s ease-in-out 0.5s;
    border-radius: 15px;
    box-shadow: 5px 10px 8px #121212;
    border: 1px solid #121212;
    background-color: blue;
    
}

.work1{
     background: url("/public/images/work1.png"); 
      
     

} 
.work2{
    background: url("/public/images/work2.png");
}
.work3{
    background: url("/public/images/work3.png");
}
.work4{
  background: url("/public/images/Netflix.png");
}

.work5{
  background: url("/public/images/BurgerHouse.png");
}




.services-list2 div:hover{   
  background-position: bottom;
    transform: scale(1.1); 
}








  