  
.services-list2{
    margin: 100px auto 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
   
}

.services-list2 div{
    
    background-size: cover;
    padding: 40px;
    transition: ease-in-out 8s;
}

.work1{
    background: url("/public/images/work1.png");
}
.work2{
    background: url("/public/images/work2.png");
}
.work3{
    background: url("/public/images/work3.png");
}


.services-list2 div:hover{   
    background-position: bottom;   
}




  