*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    
  }

body{
    /* background: rgb(30, 30, 30); */
    background-color: #262626;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    
}

#stickyButton {
    position: fixed;
    top: 95%;
    right: 20px;
    transform: translateY(-50%);
    background-color: aqua;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 99;
    transition:  transform 0.5s; /* Ensures the button stays above other content */
}
  
#stickyButton:hover {
    background-color: white;
    
}

#stickyButton i{
    font-size: 25px;
}

  


.social-buttons {
    position: fixed;
    height: 100vh;
    top: 10%;
    
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    z-index: 99;
    justify-content: center;
    transform: translate(-154px, 0);
}

.social-buttons a{
  color: #000;
  background-color: aqua;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin: 5px;
  padding: 13px;
  width: 200px;
  text-align: right;
  border-radius: 7px;
  transition: 1s;
  transition-property: transform;
}

.social-buttons a:hover{
  transform: translate(140px,0);
}

.social-buttons i{
  margin-left: 10px;
  font-size: 30px;
  width: 30px;
  height: 30px;
}

#preloader{
  background: #1b1c20 url("/public/images/loader3.gif" )no-repeat center center;
  background-size: 18%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
}

  
/*   .social-button {
    display: block;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: aqua;
    color: white;
    text-decoration: none;
  } */
  
/* .social-button:hover {
    background-color: #0056b3;
}
  
.facebook {
    background-color: #3b5998;
}
  
.twitter {
    background-color: #1da1f2;
}
  
.instagram {
    background-color: #e1306c;
}
   */